.projects {
    position: relative;

    .projectsHeader {
        position: sticky;
        padding-top: 0.5px;
        top: 60px;
        left: 0;
        text-align: center;
        font-size: 36px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(20px);
        transition: all 0.3s ease;
        z-index: 9;

        &.scrolled {
            backdrop-filter: blur(100px);
            background: rgba(247, 247, 247, 0.6);
        }

        h1 {
            font-size: 3rem;
            margin-top: 30px;
            margin-bottom: 10px;
            background: linear-gradient(to right, #000000, #e5e5e0, #a0a098, #000000);
            background-size: 300% auto;
            background-position: left center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-position 0.9s ease-in-out;

            &:hover {
                background-position: right center;
            }
        }

        .progressBar {
            height: 10px;
            background: linear-gradient(to right, #000000, #e5e5e0);
            border-radius: 10px;
        }
    }

}

.projectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .projectWrapper {
        max-width: 1366px;
        height: 100%;
        margin-top: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;


        .imageContainer {
            flex: 1;
            height: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px;
                will-change: transform;
                cursor: pointer;
                transition: border-color 0.3s ease, border-width 0.3s ease;
                border: 5px solid white;
            }

            img:hover {
                border-color: rgb(255, 255, 255);
                border-width: 10px;
            }
        }

        .textContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h2 {
                font-size: 55px;
            }

            p {
                color: gray;
                font-size: 20px;
            }

            .projectBtns {
                display: flex;
                gap: 30px;

                button {
                    background-color: rgb(0, 0, 0);
                    color: white;
                    border: none;
                    border-radius: 20px;
                    padding: 10px;
                    width: 100%;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    height: 100%;
                    font-size: large;

                    &:hover {
                        background-color: transparent;
                        color: black;
                        transition: background-color 0.3s ease, color 0.3s ease;
                        border: 2px solid #000;
                    }
                }
            }
        }
    }
}