.projects {
    position: relative;

    .projectsHeader {
        position: sticky;
        top: 60px;
        left: 0;
        text-align: center;
        font-size: 36px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(20px);
        transition: all 0.3s ease;
        z-index: 9;
        padding: 1rem;

        &.scrolled {
            backdrop-filter: blur(100px);
            background: rgba(247, 247, 247, 0.6);
        }

        h1 {
            font-size: 3rem;
            margin-top: 30px;
            margin-bottom: 10px;
            background: linear-gradient(to right, #000000, #e5e5e0, #a0a098, #000000);
            background-size: 300% auto;
            background-position: left center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-position 0.9s ease-in-out;

            &:hover {
                background-position: right center;
            }

            @media (max-width: 768px) {
                font-size: 2rem;
            }

            @media (max-width: 480px) {
                font-size: 1.5rem;
            }
        }

        .progressBar {
            height: 10px;
            background: linear-gradient(to right, #000000, #e5e5e0);
            border-radius: 10px;
        }
    }
}

.projectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 2rem 1rem;

    .projectWrapper {
        max-width: 1366px;
        width: 100%;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            margin-top: 0px;
            flex-direction: column;
            gap: 2rem;
        }

        .imageContainer {
            flex: 1;
            max-width: 600px;
            width: 100%;

            img {
                width: 100%;
                aspect-ratio: 1.6 / 1; // makes every image a square
                object-fit:fill; // ensures the image fills the box and crops if needed
                border-radius: 30px;
                cursor: pointer;
                border: 5px solid white;
                transition: border-color 0.3s ease, border-width 0.3s ease;

                &:hover {
                    border-color: rgb(255, 255, 255);
                    border-width: 10px;
                }
            }
        }

        .textContainer {
            flex: 1;
            max-width: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: center;

            @media (max-width: 768px) {
                order: 1;
                align-items: center;
                text-align: center;
                gap: 10px;
            }

            h2 {
                font-size: 2.5rem;

                @media (max-width: 768px) {
                    font-size: 2rem;
                }

            }

            p {
                color: gray;
                font-size: 1.2rem;

                @media (max-width: 480px) {
                    font-size: 1rem;
                }
            }

            .projectBtns {
                display: flex;
                gap: 20px;
                justify-content: center;

                button {
                    background-color: #000;
                    color: #fff;
                    border: none;
                    border-radius: 50px;
                    padding: 10px 20px;
                    min-width: 200px;
                    font-size: 1.3rem;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: transparent;
                        color: #000;
                        border: 2px solid #000;
                    }

                    @media (max-width: 768px) {
                        flex-direction: row;
                        align-items: center;
                        gap: 15px;
                        margin-top: 10px;
                        min-width: 150px;
                        font-size: 1.1rem;

                    }
                }


            }
        }
    }
}