.aboutContainer {
    display: flex;
    flex-direction: column; // important to stack h1 on top
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 0;
    .slogan {
        width: 100%;
        text-align: center;
        
        h1 {
            font-size: 3rem;
            background: linear-gradient(to right, #000000, #e5e5e0, #a0a098, #000000);
            background-size: 300% auto;
            background-position: left center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-position 0.9s ease-in-out;
            
            &:hover {
                background-position: right center;
            }
        }
    }
    
    .aboutItems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        max-width: 1200px;
        margin-top: 30px;
        
        .aboutBg{
            filter: blur(50px);
            z-index: 0;
        }
        .aboutItem {
            z-index: 5;
            width: 250px;
            background-color:#f8f8f84d;
            border-radius: 12px;
            // box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            transition: transform 0.4s ease, box-shadow 0.4s ease;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 20px rgba(177, 177, 177, 0.15);
            }

            .aboutImg {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}