.aboutContainer {
    display: flex;
    flex-direction: column;
    /* Stacks content vertically */
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    margin: auto;


    @media (max-width: 768px) {
        height: 100vh;
    }

    .slogan {
        width: 100%;
        text-align: center;

        @media (max-width: 768px) {
            margin-bottom: 0px;
        }

        h1 {
            font-size: 3rem;
            background: linear-gradient(to right, #000000, #e5e5e0, #a0a098, #000000);
            background-size: 300% auto;
            background-position: left center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-position 0.9s ease-in-out;

            &:hover {
                background-position: right center;
            }

            @media (max-width: 768px) {
                font-size: 25px;
            }
        }
    }

    .aboutItems {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 0px;
        }



        .aboutDesc {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 20px;

            @media (max-width: 768px) {
                padding-top: 0px;
            }


            p {
                font-size: 17px;
                font-weight: 400;
                line-height: 1.4;

                @media (max-width: 768px) {
                    font-size: 11px;
                }
            }
        }

        .aboutImg {
            display: flex;
            flex: 1;
            padding: 20px;

            @media (max-width:768px) {
                    padding: 0px;
                }
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}