.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0px;
    max-width: 1366px;

    @media (max-width:768px) {
        flex-direction: column;
        height: auto;
    }

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        bottom: 10%;
        justify-content: center;
        gap: 10px;
        position: relative;

        .headerInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            h5 {
                font-size: 30px;
                text-align: left;
            }

            h1 {
                font-size: 70px;
            }

            h2 {
                font-size: 60px;
            }

            p {
                font-size: 30px;
                color: rgb(118, 118, 118);
            }
        }

        .headerLinks {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .accounts {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
            }

            .linkWrapper {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
            }

            .linkImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                transition: transform 0.3s ease;
            }

            .linkImg:hover {
                transform: scale(1.1);
            }

            .cvBtn {
                padding: 10px 20px;
                background-color: black;
                color: white;
                border-radius: 50px;
                cursor: pointer;
                font-weight: 500;
                font-size: 16px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: transparent;
                    color: black;
                    transition: background-color 0.3s ease, color 0.3s ease;
                    border: 2px solid #000;
                }
            }
        }

        .hoverMessage {
            position: absolute;
            bottom: -50px;
            left: 50%;
            padding: 10px 15px;
            border-radius: 20px;
            font-size: 14px;
            z-index: 4;
            font-weight: 600;
            cursor: pointer;
            color: transparent;
            transition: opacity 0.5s ease;
            background-image: linear-gradient(90deg, #d4d4d4, #1d1c1c, #cdcbcb);
            background-size: 200% auto;
            background-clip: text;
            -webkit-background-clip: text;
            animation: shimmer 3s infinite;
            transform: translateX(-50%);

            &:hover {
                animation: shimmer 3s infinite, floatY 0.5s ease-in-out infinite alternate;
            }

                        @media (max-width:768px) {
                            display: none;
                        }
        }

        @keyframes shimmer {
            0% {
                background-position: 200% center;
            }

            100% {
                background-position: -200% center;
            }
        }

        @keyframes floatY {
            0% {
                transform: translateX(-50%) translateY(0);
            }

            100% {
                transform: translateX(-50%) translateY(10px);
            }
        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        position: relative;
        bottom: 10%;

        .bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        .shapeCanvas {
            width: 100%;
            height: 100%;
        }

        .avatar {
            width: auto;
            height: 90vh;
            z-index: 1;
            position: relative;

            @media (max-width:768px) {
                height: 65vh;
                padding-left: 30px;
            }
        }
    }



    /* Mobile responsiveness */
    @media (max-width: 768px) {

        .left,
        .right {
            flex: none;
            width: 100%;
        }

        .right {
            order: -1;
            margin-bottom: 20px;
        }

        .bg {
            width: 400px !important;
        }


        .left {
            order: 1;
        }

        /* Reduced font sizes for mobile */
        .headerInfo h1 {
            font-size: 40px !important;
            /* Ensures it gets applied */
        }

        .headerInfo h2 {
            font-size: 30px !important;
        }

        .headerInfo h5 {
            font-size: 30px !important;
        }

        .headerInfo p {
            font-size: 20px !important;
        }

        .headerLinks {
            flex-direction: column;
            gap: 15px;
        }

        .linkWrapper {
            width: 30px !important;
            height: 30px !important;
        }

        .cvBtn {
            font-size: 14px !important;
            padding: 5px 8px !important;
        }
    }
}