.headerContainer {
    display: flex;
    flex-direction: row; // important to stack h1 on top
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto  ;
    padding: 0px;
    max-width: 1366px;

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        h5 {
            font-size: 30px;
            text-align: left;
        }

        h1 {
            font-size: 80px;
        }

        h2 {
            font-size: 60px;
        }

        p {
            font-size: 30px;
            color: rgb(118, 118, 118);
        }

        .cvBtn {
            padding: 10px;
            background-color: transparent;
            border-radius: 50px;
            border: 2px solid rgb(0, 0, 0);
            cursor: pointer;
            font-weight: 500;
            font-size: large;

            &:hover {
                background-color: black;
                color: white;
                transition: background-color 0.3s ease, color 0.3s ease;
            }


        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        position: relative;

        .bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            z-index: 0;
            /* Ensure the background (3D shape) stays behind the avatar */
        }

        .shapeCanvas {
            width: 100%;
            height: 100%;
        }

        .avatar {
            width: auto;
            height: 80vh;
            z-index: 1;
            /* Avatar is on top */
            position: relative;
        }
    }
}