.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    top: 0;
    position: sticky;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    transition: all 0.3s ease;

    &.scrolled {
        backdrop-filter: blur(100px);
        background: rgba(247, 247, 247, 0.6);
    }

    .logo {
        cursor: pointer;
        position: relative;
        display: inline-block;

        .logoImg {
            width: 90px;
            height: auto;
            transition: transform 0.5s ease;
        }

        &:hover {
            .logoImg {
                transform: rotate(360deg) scale(1.1);
            }
        }
    }

    .items {
        display: flex;
        gap: 20px;
        font-weight: 400;
        font-size: 30px;
        cursor: pointer;
        transition: transform 0.3s ease-in;

        a {
            transition: transform 0.3s ease-in;

            &:hover {
                transform: scale(1.1);
                font-weight: 500;
            }
        }

        &.active {
            display: flex !important; // override display: none
            flex-direction: column;
            align-items: center;
            gap: 10px;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 5px;
            height: auto;
            position: absolute;
            top: 80px; // adjust based on nav height
            left: 0;
            right: 0;
            z-index: 998;
        }
    }

    .burger {
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        font-size: 50px;

        .line {
            width: 30px;
            height: 5px;
            background-color: black;
            border-radius: 5px;
        }
    }

    // Media query for mobile view
    @media screen and (max-width: 768px) {

        .navContainer {
            display: flex;
            justify-content: baseline;
        }

        .items {
            display: none;
        }

        .burger {
            display: flex;
        }
    }
}